@font-face {
    font-family: 'MyFont';
    src: url('../CardPages/font/BerryRotunda.ttf');
}

#wrapper {
    max-height: 100%;
    min-height: 100%;
    max-width: 40%;
    min-width: 40%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 12%;
    padding-right: 10%;
    font-size: 30px;
    font-family: MyFont;
}
span {
    font-size: 80px;
    margin-left: 12%;
    padding:10px;
    background-color: #000000;
    color: #ffffff;
    cursor:pointer;
    -webkit-user-select:none;
}