@font-face {
    font-family: 'MyFont';
    src: url('CardPages/font/BerryRotunda.ttf');
}

body {
    background-image: url("TarrotImg/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    font-family: MyFont;
}

.grid {
    padding-top: 3%;
    float: left;
    width: 70%;
    text-align: center;
    font-size: 35px;
}

.grid table {
    padding-top: 2%;
}

#right {
    float: right;
    width: 30%;
    text-align: center;
    align-content: center;
    font-size: 30px;
}

.bellow {
    float: left;
    display: table-row;
    font-size: 20px;
    width: 65%;
}

.timeDesc {
    width: 100%;
    float: left;
    padding-top: 3%;
    display: table-row;
    font-size: 20px;
}

.timeDesc .past {
    width: 20%;
    display: table-cell;
}

.timeDesc .present {
    width: 20%;
    padding-left: 5%;
    display: table-cell;
}

.timeDesc .future {
    width: 20%;
    padding-left: 5%;
    display: table-cell;
}

.timeDesc .interpretation {
    width: 20%;
    padding-left: 5%;
    display: table-cell;
}